<html>

<head>
    <title>Home Page</title>
    <%- include('partials/links') %>
</head>

<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-sm-12">

                <div class="row">
                    <div class="col-sm-8 text-center">
                        <h1>Edit User</h1>
                        <img src="/images/logo.png" alt="">
                    </div>
                    <div class="col-sm-4 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Edit User</h5>
                                <form name="updateForm" enctype="application/x-www-form-urlencoded">
                                    <input type="hidden" name="userId" value="<%=resdata[0]._id %>">
                                    <div class="form-group">
                                        <label for="username">Username</label>
                                        <input type="text" class="form-control" id="username" name="userName"
                                            aria-describedby="emailHelp" value="<%=resdata[0].userName %>">
                                    </div>
                                    <div class="form-group">
                                        <label for="username">Phone No.</label>
                                        <input type="text" class="form-control" id="phoneNo" name="phoneNo"
                                            aria-describedby="emailHelp" value="<%=resdata[0].phoneNo %>">
                                    </div>
                                    <div class="form-group">
                                        <label for="username">Email</label>
                                        <input type="text" class="form-control" id="email" name="email"
                                            aria-describedby="emailHelp" value="<%=resdata[0].email %>">
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Address</label>
                                        <input type="text" class="form-control" id="address" name="address"
                                        value="<%=resdata[0].address %>">
                                    </div>
                                    <!-- <a href="./forgot-password">Forgot Password?</a><br><br> -->
                                    <button type="button" onclick="updateUser()" class="btn btn-primary btn-block">Submit</button>
                                    <!-- <a href="./register">New User?</a> -->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function updateUser() {
            let userId = updateForm.userId.value;
            let re = /^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/;
            let data = {
                userName: updateForm.userName.value,
                phoneNo: updateForm.phoneNo.value,
                email : updateForm.email.value,
                address : updateForm.address.value
            }
            let emailValid = re.test(data.email);
            if(!data.userName) {
                alert("address invalid");
                return false;
            }
            if(!data.phoneNo) {
                alert("address invalid");
                return false;
            }
            if(!emailValid) {
                alert("emai invalid");
                return false;
            }
            if(!data.address) {
                alert("address invalid");
                return false;
            }
            let response = fetch('/api/people/'+userId, {
                method: 'PUT',
                headers: {
                    'Content-type': 'application/json; charset=UTF-8'
                    },
                body: JSON.stringify(data) 
            }).then(response => response.json())
                .then(result =>  {
                    if(result.success){
                        location.href = window.location.origin+'/api/people'
                }
            });
            
        }
    </script>
</body>

</html>